/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles! 
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}


/* UNGRID */
@media (min-width: 30em) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; }
}


/*------------------------------------*\
    $MAIN
\*------------------------------------*/
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #666;
}
strong {
    font-weight: 600;
}
.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 30px;
}
h1 {
    font-size: 3.5em;
    line-height: 1.2em;
    font-weight: 800;
}
h2 {
    font-size: 2.5em;
    font-weight: 400;
}
h3 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5em;
}
h4 {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5em;
}
@media (max-width: 850px) {
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.2em;
    }
    h4 {
        font-size: 1.2em;  
    }
}
.top {
    background: #A369D7;
    padding: 4% 0;
}
.title {
    color: #7C41AF;
    padding: 2% 0;
}
.synopsis {
    color: white;
    padding: 5% 0 2% 0;
}
.contact {
    padding: 7% 0;
}
.location {
    background: #efefef;
    padding: 7% 0;
}
.address {
    vertical-align: top;
}

